body {
  /* height: 100vh;
  width: 100vw; */
  background-color: rgb(20, 21, 26);
  font-size: 0.7em;
}

.flexing {
  display: flex;
  justify-content: space-around;
}
.scrollable {
  height: 35vh;
  overflow-y: scroll;
}
.splitScreen {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.topPane {
  grid-column: 1;
  grid-row: 1;
}

.secondPane {
  grid-column: 3;
  grid-row: 1;
}
.chartPane {
  grid-column: 2;
  grid-row: 1;
}
.underChartPane {
  grid-column: 2;
  grid-row: 2;
}
